
*{
    scrollbar-width: none
}
.my-produto-box {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-produto-box::-webkit-scrollbar {
    display: none;
}

